/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $black;
  color: $white;
  min-height: 100vh;
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

input,
select,
textarea {
  border: none;
  background-color: $dark;
  color: $white;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
}

select {
  padding: 0.5rem 0.75rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 2px $primary;
}

p {
  margin: 0;
}

select {
  width: 197px;
  background: $dark;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath fill='%23fff' d='M256 298.3l174.2-167.2c4.3-4.2 11.4-4.1 15.8.2l30.6 29.9c4.4 4.3 4.5 11.3.2 15.5L264.1 380.9c-2.2 2.2-5.2 3.2-8.1 3-3 .1-5.9-.9-8.1-3L35.2 176.7c-4.3-4.2-4.2-11.2.2-15.5L66 131.3c4.4-4.3 11.5-4.4 15.8-.2L256 298.3z'/%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.6rem) 50%;
}

option {
  color: $white;
}

textarea {
  min-height: 100px;
}

.bg {
  &-error {
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.15);
  }
}

.text {
  &-light {
    color: hsla(0, 0%, 100%, 0.5) !important;
  }
}

.dark-modal {
  .modal-content {
    background-color: $dark;
    color: $white;
    border-radius: 6px;
  }
  .close {
    color: white;
  }
  .close:focus {
    border: $primary;
  }
}

.spacer {
  background-color: $black;
  height: 25px;
}

.header-height {
  min-height: 121px;
  max-height: 121px;
}

.card {
  background-color: $dark;
  border-radius: 10px;
}

.card-footer {
  background-color: $dark;
}

.btn {
  border: none;
  &:hover {
    box-shadow: 0 0 0 2px $primary;
  }
  &-link {
    color: $secondary;
  }
  &-link:hover,
  &-link:active,
  &-link:focus {
    text-decoration: none;
    color: $white;
  }
}

.px {
  &-btn {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.arrow {
  left: calc(50% - 0.4rem);
}

.arrow:before {
  border-bottom-color: $white !important;
}

.tooltip-inner {
  background-color: $white !important;
  color: $black;
  padding: 0.5rem 0.5rem;
}
