<div>
  <form [formGroup]="form" class="mb-3 w-100">
    <div
      class="btn-group btn-group-toggle mb-1"
      ngbRadioGroup
      name="radioBasic"
      formControlName="radioChoice"
      (change)="radioChoiceChanged()"
    >
      <label ngbButtonLabel class="btn-outline-secondary">
        <input ngbButton type="radio" value="selected" />Selected Dates
      </label>
      <label ngbButtonLabel class="btn-outline-secondary">
        <input ngbButton type="radio" value="all" />All Time
      </label>
    </div>
    <app-date-picker-range></app-date-picker-range>
  </form>

  <div class="row">
    <div *ngFor="let domain of domains; let i = index" class="col-lg-6">
      <div *ngIf="showSpacer(i)" class="spacer"></div>
      <div class="card">
        <div class="card-body">
          <h3 class="text-left">
            {{ domain.title | titlecase }}
          </h3>
          <div *ngIf="loading">
            <app-loading-in-card [type]="'sub'"></app-loading-in-card>
          </div>
          <app-graph-pie
            *ngIf="!loading"
            [loadingType]="'sub'"
            [chartData]="chartData[i]"
            [chartLabels]="chartLabels[i]"
          ></app-graph-pie>
        </div>
      </div>
    </div>
  </div>
</div>
