<div>
  <!-- Form -->
  <form
    [formGroup]="form"
    class="mb-3 w-100 d-flex-responsive justify-content-between flex-wrap"
  >
    <app-date-picker-range
      class="range"
      *ngIf="graphType === Charts.bar"
    ></app-date-picker-range>
    <app-date-picker
      *ngIf="graphType === Charts.bubble || graphType === Charts.line"
    ></app-date-picker>
    <select
      (change)="selectChanged()"
      formControlName="views"
      class="btn-reponsive btn-reponsive-mb-3"
    >
      <option
        *ngFor="let option of getOptions(); let i = index"
        value="{{ i + 1 }}"
        selected
        >{{ option }}</option
      >
    </select>
  </form>

  <!-- Main Graph -->
  <div class="card" *ngIf="graphType !== Charts.bubble">
    <div class="card-body">
      <h3 class="text-left">
        {{ getTitle() | titlecase }} -
        {{ chartTitleName[0] | titlecase }}
      </h3>
      <div *ngIf="loading">
        <app-loading-in-card [type]="'main'"></app-loading-in-card>
      </div>
      <app-graph-bar
        *ngIf="graphType === Charts.bar && chartData.length > 0"
        [loadingType]="'main'"
        [chartData]="filterChartDataDomain('combined')"
        [chartLabels]="chartLabels"
      ></app-graph-bar>
      <app-graph-line
        *ngIf="graphType === Charts.line"
        [loadingType]="'main'"
        [chartData]="filterChartDataDomain('combined')"
        [chartLabels]="chartLabels"
      ></app-graph-line>
    </div>
  </div>

  <!-- Small Graph -->
  <div class="row">
    <div *ngFor="let domain of domains; let i = index" class="col-lg-6">
      <div *ngIf="showSpacer(i)" class="spacer"></div>
      <div class="card">
        <div class="card-body">
          <h3
            *ngIf="graphType !== Charts.bubble"
            class="text-left pointer text-primary-hover"
            (click)="moveToMain(i)"
          >
            {{ chartTitleName[i + 1] | titlecase }}
          </h3>
          <h3 *ngIf="graphType === Charts.bubble" class="text-left">
            {{ chartTitleName[i + 1] | titlecase }}
          </h3>
          <div *ngIf="loading">
            <app-loading-in-card [type]="'sub'"></app-loading-in-card>
          </div>
          <app-graph-bar
            *ngIf="graphType === Charts.bar && chartData.length > 0"
            [loadingType]="'sub'"
            [chartData]="filterChartDataDomain(domain.id)"
            [chartLabels]="chartLabels"
          ></app-graph-bar>
          <app-graph-line
            *ngIf="graphType === Charts.line && chartData.length > 0"
            [loadingType]="'sub'"
            [chartData]="filterChartDataDomain(domain.id)"
            [chartLabels]="chartLabels"
          ></app-graph-line>
          <app-graph-bubble
            *ngIf="graphType === Charts.bubble && chartData.length > 0"
            [loadingType]="'sub'"
            [chartData]="filterChartDataDomain(domain.id)"
            [chartLabels]="chartLabels"
          ></app-graph-bubble>
        </div>
      </div>
    </div>
  </div>
</div>
