<div>
  <form [formGroup]="form" class="w-100 d-flex justify-content-end mb-3">
    <select (change)="selectChanged()" formControlName="views">
      <option value="1" selected>Unique site views</option>
      <option value="2">Total page views</option>
    </select>
  </form>
  <div *ngIf="!getLoading()">
    <div class="card">
      <div class="card-body">
        <h3 class="text-left">
          {{ views.value === "1" ? "Site views" : "Page views" }}
        </h3>
        <h5 class="text-left">{{ chartSubTitle[0] || 0 }}</h5>
        <canvas
          baseChart
          [chartType]="'bar'"
          [datasets]="chartData[0]"
          [labels]="chartLabels"
          [options]="chartOptions[0]"
          [legend]="false"
        >
        </canvas>
      </div>
    </div>
    <div *ngFor="let domain of domains; let i = index">
      <div class="spacer"></div>
      <div class="card">
        <div class="card-body">
          <h3 class="text-left">{{ domain.title }}</h3>
          <h5 class="text-left">{{ chartSubTitle[i + 1] || 0 }}</h5>
          <canvas
            baseChart
            [chartType]="'bar'"
            [datasets]="chartData[i + 1]"
            [labels]="chartLabels"
            [options]="chartOptions[i + 1]"
            [legend]="false"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
