<div #header class="header">
  <div class="header__logo">
    <div
      [ngClass]="{ 'header__spinner--visible': getLoading() }"
      class="header__spinner header__spinner--black"
    ></div>
    <div
      [ngClass]="{ 'header__spinner--visible': getLoading() }"
      class="header__spinner header__spinner--white"
    ></div>
    <div
      [ngClass]="{ 'header__spinner--visible': getLoading() }"
      class="header__spinner header__spinner--primary"
    ></div>
  </div>
  <div class="header__nav">
    <div class="header__buttons">
      <button
        [ngClass]="{ active: getRoute() === State.views }"
        class="header__button link"
        (click)="setRoute(State.views)"
      >
        Views</button
      ><button
        [ngClass]="{ active: getRoute() === State.pages }"
        class="header__button link"
        (click)="setRoute(State.pages)"
      >
        Pages</button
      ><button
        [ngClass]="{ active: getRoute() === State.durations }"
        class="header__button link"
        (click)="setRoute(State.durations)"
      >
        Durations</button
      ><button
        [ngClass]="{ active: getRoute() === State.events }"
        class="header__button link"
        (click)="setRoute(State.events)"
      >
        Events</button
      ><button
        [ngClass]="{ active: getRoute() === State.languages }"
        class="header__button link"
        (click)="setRoute(State.languages)"
      >
        Languages</button
      ><button
        [ngClass]="{ active: getRoute() === State.oses }"
        class="header__button link"
        (click)="setRoute(State.oses)"
      >
        OSes
      </button>
      <button
        [ngClass]="{ active: getRoute() === State.platforms }"
        class="header__button link"
        (click)="setRoute(State.platforms)"
      >
        Platforms
      </button>
      <button
        [ngClass]="{ active: getRoute() === State.settings }"
        class="header__button link"
        (click)="setRoute(State.settings)"
      >
        Settings
      </button>
    </div>
  </div>
</div>
