<div>
  <form [formGroup]="form" class="mb-3 w-100">
    <select
      class="w-100 mb-2"
      (change)="selectChanged()"
      formControlName="domain"
    >
      <option *ngFor="let domain of domains" value="{{ domain.id }}">{{
        domain.title
      }}</option>
    </select>
    <div class="w-100 d-flex-responsive mb-1">
      <div
        class="btn-group btn-group-toggle"
        ngbRadioGroup
        name="radioBasic"
        formControlName="radioChoice"
        (change)="radioChoiceChanged()"
      >
        <label ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="selected" />Selected Dates
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
          <input ngbButton type="radio" value="all" />All Time
        </label>
      </div>
    </div>
    <app-date-picker-range></app-date-picker-range>
  </form>

  <div class="row">
    <div *ngIf="data.length === 0" class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-left">
            {{ getDomainTitle() | titlecase }}
          </h3>
          <div *ngIf="loading">
            <app-loading-in-card [type]="'sub'"></app-loading-in-card>
          </div>
          <div *ngIf="!loading">
            <app-graph-pie *ngIf="!loading"></app-graph-pie>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let el of data; let i = index" class="col-lg-6">
      <div *ngIf="showSpacer(i)" class="spacer"></div>
      <div class="card">
        <div class="card-body">
          <h3 class="text-left">
            {{ el.groupName || "Loading..." | titlecase }}
          </h3>
          <div *ngIf="loading">
            <app-loading-in-card [type]="'sub'"></app-loading-in-card>
          </div>
          <app-graph-pie
            *ngIf="!loading && chartData"
            [chartData]="chartData[i]"
            [chartLabels]="chartLabels[i]"
          ></app-graph-pie>
        </div>
      </div>
    </div>
  </div>
</div>
