@import "../../variables";

.btn {
  padding: 1rem 1.5rem;
  color: $light;

  &-help {
    min-width: 92px;
    max-width: 92px;
    border-right: 1px solid $black;
  }

  &-sign-in {
    min-width: calc(100% - 184px);
    text-align: right;
  }
}
