<div *ngIf="loading">
  <app-loading-in-card [type]="'sub'"></app-loading-in-card>
</div>
<div *ngIf="!loading">
  <div
    *ngIf="getPagesByDomain(domain.id).data.length === 0"
    class="d-flex justify-content-center align-items-center"
    style="height: calc(420px - 40px - 33px - 8px);"
  >
    <i class="fas fa-exclamation-circle fa-10x icon"></i>
  </div>
  <div *ngIf="getPagesByDomain(domain.id).data.length > 0">
    <div
      *ngFor="let page of getPagesByDomain(domain.id).data; let last = last"
      class="mt-1"
    >
      <div [ngClass]="{ 'border-bottom border-secondary': !last }">
        <span class="badge badge-dark lead text-primary mb-1"
          >{{ page.count }}x</span
        >
        <span class="ml-2 text-secondary">{{ page.name | titlecase }}</span>
      </div>
    </div>
  </div>
</div>
