<div>
  <form [formGroup]="form" class="w-100 d-flex justify-content-end mb-3">
    <select (change)="selectChanged()" formControlName="durations">
      <option value="1" selected>Average durations</option>
      <option value="2">Detailed durations</option>
    </select>
  </form>
  <div *ngIf="!getLoading()">
    <div class="card">
      <div class="card-body">
        <h3 class="text-left">
          {{ durations.value === "1" ? "Average durations" : "" }}
        </h3>
        <canvas
          #chart0
          baseChart
          [chartType]="'bar'"
          [datasets]="chartData[0]"
          [labels]="chartLabels"
          [options]="chartOptions[0]"
          [legend]="false"
        >
        </canvas>
      </div>
    </div>
    <div *ngFor="let domain of domains; let i = index">
      <div class="spacer"></div>
      <div class="card">
        <div class="card-body">
          <h3 class="text-left">{{ domain.title }}</h3>
          <canvas
            baseChart
            [chartType]="'bar'"
            [datasets]="chartData[i + 1]"
            [labels]="chartLabels"
            [options]="chartOptions[i + 1]"
            [legend]="false"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
