<div>
  <form [formGroup]="form" class="mb-3">
    <div class="w-100 d-flex justify-content-between mb-1">
      <input
        (change)="inputChanged()"
        type="number"
        formControlName="numberOfDays"
      />
      <select (change)="selectChanged()" formControlName="durations">
        <option value="1" selected>Average durations</option>
        <option value="2">Detailed durations</option>
      </select>
    </div>
    <app-date-picker-range></app-date-picker-range>
  </form>
  <div>
    <div class="card" *ngIf="durations.value !== '2'">
      <div class="card-body">
        <h3 class="text-left">
          {{ durations.value === "1" ? "Average Durations" : "EasterEgg" }} -
          {{ chartTitleName[0] }}
        </h3>
        <app-loading-in-card
          [type]="'main'"
          *ngIf="getLoading()"
        ></app-loading-in-card>
        <canvas
          *ngIf="!getLoading()"
          baseChart
          [chartType]="'bar'"
          [datasets]="chartData[0]"
          [labels]="chartLabels"
          [options]="chartOptions[0]"
          [legend]="false"
        >
        </canvas>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let domain of domains; let i = index" class="col-lg-6">
        <div class="spacer"></div>
        <div class="card">
          <div class="card-body">
            <h3
              class="text-left pointer text-primary-hover"
              (click)="moveToMain(i)"
            >
              {{ chartTitleName[i + 1] }}
            </h3>
            <app-loading-in-card
              [type]="'sub'"
              *ngIf="getLoading()"
            ></app-loading-in-card>
            <canvas
              *ngIf="!getLoading()"
              baseChart
              [chartType]="'bar'"
              [datasets]="chartData[i + 1]"
              [labels]="chartLabels"
              [options]="chartOptions[i + 1]"
              [legend]="false"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
